.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.double-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wh100 {
  width: 100%;
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

.white {
  color: white;
}

.pointer {
  cursor: pointer;
}
